@import 'base';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{
  background-color: $primary-bg;
  color: $primary-dark-color;
  font-family: $font-stack;
}

.App {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

